# LFS
data/**/*.fbx filter=lfs diff=lfs merge=lfs -text
data/**/*.glb filter=lfs diff=lfs merge=lfs -text
data/**/*.b3dm filter=lfs diff=lfs merge=lfs -text
data/**/*.tga filter=lfs diff=lfs merge=lfs -text
data/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
data/**/*.png filter=lfs diff=lfs merge=lfs -text
scripts/FBX2glTF.exe filter=lfs diff=lfs merge=lfs -text

# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf